annotated-types
anyio
attrs
beautifulsoup4
certifi
charset-normalizer
chromedriver-autoinstaller
cloudscraper
feedparser
filelock
fsspec
greenlet
grpcio
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
joblib
lxml
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
outcome
packaging
pendulum
pillow
playwright
portalocker
protobuf
pydantic
pydantic_core
pyee
pyparsing
PySocks
python-dateutil
python-dotenv
PyYAML
qdrant-client
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
selenium
sentence-transformers
setuptools
sgmllib3k
six
sniffio
sortedcontainers
soupsieve
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
undetected-chromedriver
urllib3
webdriver-manager
websocket-client
websockets
wsproto
